---
layout: archive
classes: wide

author-profile: true
author: VERANDA
---

<h1 class="archive__title">VERANDA</h1>

Trustworthy Anonymization of Sensitive Patient Records for Remote Consultation

<figure class="align-center">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/images/veranda-logo.jpg" alt="">
  <figcaption><small>© 2024 Hannes Gieseler, all rights reserved</small></figcaption>
</figure>

<div class = "text-justify">
  The primary aim of VERANDA is to explore and promote informational self-determination in the context of personal and sensitive medical data, especially among stigmatized groups. This includes advancing essential medical diagnostics, 
  such as cancer detection and clinical-psychological care, which has seen increased demand during the COVID-19 pandemic. The project is closely tied to the provision of personal data for research purposes, highlighting the importance of 
  effective risk-opportunity communication with patients and the public. 
  By examining the conditions under which patients are willing to share their data during online consultations, the project seeks to develop communication strategies that enhance users' understanding of relevant data protection technologies.
</div>
<p></p>

{% assign news = site.news | reverse %}

{% assign publications = site.publications | reverse %}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<h1 class="archive__title">Recent News</h1>

<div class="entries-{{ entries_layout }}">
  {% comment %}
  to change the number of news posts shown on this page, change limit below
  {% endcomment %}
  {% for post in news limit:2 %}
    {% include archive-single.html type=entries_layout %}
    <p> </p>
  {% endfor %}
</div>

<h1 class="archive__title">Recent Publications</h1>

<div class="entries-{{ entries_layout }}">
  {% comment %}
  to change the number of publication posts shown on this page, change limit below
  {% endcomment %}
  {% for post in publications limit:2 %}
    {% include archive-single.html type=entries_layout %}
    <p> </p>
  {% endfor %}
</div>

</p>
  <p>
  <a href="https://aclanthology.org/2025.coling-main.77/">Wang, Q., Anikina, T., Feldhus, N., Ostermann, S., Möller, S. and Schmitt, V., 2025, January. Cross-Refine: Improving Natural Language Explanation Generation by Learning in Tandem. In Proceedings of the 31st International Conference on Computational Linguistics (pp. 1150-1167).</a>
  </p>
  <p>
  <a href="https://doi.org/10.18653/v1/2024.findings-emnlp.76">Wang, Q., Anikina, T., Feldhus, N., Ostermann, S. and Möller, S., 2024, November. CoXQL: A Dataset for Parsing Explanation Requests in Conversational XAI Systems. In Findings of the Association for Computational Linguistics: EMNLP 2024 (pp. 1410-1422).</a>
  </p>
  <p>
  <a href="https://doi.org/10.18653/v1/2024.findings-emnlp.76">Flanagan, L. and Poikela, M., 2025. Attitudes of Developers Towards Privacy in Personal Health Applications. Studies in health technology and informatics, 327, pp.949-953.</a>
  </p>
    <p>
  <a href="https://doi.org/10.3233/shti250883">Flanagan L, Poikela M. Current Applications of Stigma-Conscious Interventions for Healthcare. MEDINFO 2025—Healthcare Smart× Medicine Deep. 2025:465-9.</a>
  </p>
<br>
<p>
<b>In Press</b>
</p>
  <p>
  <a href="https://arxiv.org/abs/2501.00777">Wang, Q., Feldhus, N., Ostermann, S., Villa-Arenas, L.F., Möller, S. and Schmitt, V., 2025. FitCF: A Framework for Automatic Feature Importance-guided Counterfactual Example Generation. arXiv preprint arXiv:2501.00777.</a>
  </p>
  <p>
  <a href="https://arxiv.org/abs/2501.00777">Dhaini, M., Erdogan, E., Feldhus, N. and Kasneci, G., 2025. Gender Bias in Explainability: Investigating Performance Disparity in Post-hoc Methods. arXiv preprint arXiv:2505.01198.</a>
  </p>
  <p>
  <a href="https://arxiv.org/abs/2501.00777">Franzreb, C., Das, A., Polzehl, T. and Möller, S., 2025. Private kNN-VC: Interpretable Anonymization of Converted Speech. arXiv preprint arXiv:2505.17584.</a>
  </p>
    <p>
  <a href="https://arxiv.org/pdf/2508.14982?">Wang Q, Anikina T, Feldhus N, Ostermann S, Splitt F, Li J, Tsoneva Y, Möller S, Schmitt V. Multilingual Datasets for Custom Input Extraction and Explanation Requests Parsing in Conversational XAI Systems. arXiv preprint arXiv:2508.14982. 2025 Aug 20.</a>
  </p>
    <p>
  <a href="https://arxiv.org/abs/2501.00777">Wang Q, Nguyen VB, Feldhus N, Villa-Arenas LF, Seifert C, Möller S, Schmitt V. Truth or Twist? Optimal Model Selection for Reliable Label Flipping Evaluation in LLM-based Counterfactuals. arXiv preprint arXiv:2505.13972. 2025 May 20.</a>
  </p>
